---
---

body {
  background-color: hsl(0, 0%, 7%);
  color: hsl(0, 0%, 88%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 600px) {
  .wrapper {
    width: 90%;
    padding: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

a {
  color: hsl(268, 99%, 76%);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

body a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  background-color: var(--highlight);
  color: hsl(216, 100%, 85%);
  border-radius: 3px;
}

p {
    text-align: justify;
}